body{
  background-color: #b1d6f0;
}
img{
  width: 50%;
  border-radius: 10px;
  opacity:100%;
  filter: 75%;
  height: 50%;
}
h1{
  color: ##222b36;
  font-weight: bold;
}
a{
  color:#f0b1b9;
}

p{
  color: black;
  font-size: 12pt;
}

ul{
  color: red;
  padding: 3px;

}
