header{
  color: red;
  padding: 30px;
  text-align: center;
}
body{
  background-color: #b1d6f0;
}
img{
  width: 50%;
  border-radius: 10px;
  opacity:100%;
  filter: 75%;
  height: 50%;
}
h1{
  color: #9da068;
  font-weight: bold;
}
h2{
  color: darkgreen;
  text-decoration: underline;
}
a{
  color:red;
}

p{
  color: darkorange;
  font-size: 12pt;
}

ul{
  color: red;
  padding: 3px;

}
li{
  color: black
}
ol{
  color: darkgreen;
}
button{
  width: 10%;
  height:auto;
}


