body{
  background-color: #F0EAD6
  font-family:'Crimson+Pro', sans-serif;
}
*
{
  color: blue;
  text-align: center;

}
h1 { 
  font-family: 'Roboto', sans-serif;
  font-size: calc(12pt + 4vw);
   }
nav
{
    border: 7px red solid;
}
