body{
  background-color: #F0EAD6
  font-family:'Crimson+Pro', sans-serif;
}
*
{
  color: blue;
  text-align: center;

}
h1 { 
  font-family: 'Roboto', sans-serif;
  font-size: calc(12pt + 4vw);
   }
nav
{
    border: 7px solid red;
    padding: 25 px;
}
section
{
    border: 5px solid blue;
    margin: 5px;
    margin-top: 50px;
    padding: 20px;
}
.date{

  color: green

}
